.mediaViewInfo {
	--web-view-name: alejo;
	--web-view-id: alejo;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: alejo;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#alejo {
	position: absolute;
	width: 1920px;
	height: 5404px;
	background: linear-gradient( rgb(208, 176, 153), rgb(255, 255, 255 ));
	overflow: hidden;
	--web-view-name: alejo;
	--web-view-id: alejo;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}



#Capa_1 {
	position: absolute;
	width: 1616.892px;
	height: 238.957px;
	left: 129.108px;
	top: 5114px;
	overflow: visible;
}

#Copyright__2022_Apple_Inc_Todo {
	left: 8.46px;
	top: 123.957px;
	position: absolute;
	overflow: visible;
	width: 655px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Rectngulo_3 {
	position: absolute;
	width: 78px;
	height: 77px;
	left: 1212.892px;
	top: 41px;
	overflow: visible;
}
#Rectngulo_4 {
	position: absolute;
	width: 104px;
	height: 66px;
	left: 1376.892px;
	top: 46px;
	overflow: visible;
}
#Rectngulo_5 {
	position: absolute;
	width: 75px;
	height: 71px;
	left: 1541.892px;
	top: 39px;
	overflow: visible;
}
#Rectngulo_6 {
	position: absolute;
	width: 75px;
	height: 159px;
	left: 826.892px;
	top: 0px;
	overflow: visible;
}
.About_Me {
	left: 1672.5px;
	top: 159.093px;
	position: absolute;
	overflow: visible;
	width: 148px;
	line-height: 37.20000076293945px;
	margin-top: -3.1000003814697266px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: black;

}

.About_Me a:hover{
	color: azure;
	transition: all .3s;
	
}
.Behance {
	left: 1682.5px;
	top: 217.683px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	line-height: 37.20000076293945px;
	margin-top: -3.1000003814697266px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	
}
	
.Behance a:hover{
	color: azure;
	transition: all .3s;
	
}

.Linkedln {
	
	left: 1695.5px;
	top: 274.91px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	line-height: 37.20000076293945px;
	margin-top: -3.1000003814697266px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	
}

.Linkedln a:hover{
	color: azure;
	transition: all .3s;
	
}

.Contacto {
	left: 1675.5px;
	top: 104.91px;
	position: absolute;
	overflow: visible;
	width: 147px;
	white-space: nowrap;
	line-height: 37.20000076293945px;
	margin-top: -3.1000003814697266px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	
	
	}
.Contacto a:hover{
	color: azure;
	transition: all .3s;
	
}
#Alejandro_cree_que_el_mundo_se {
	left: 129px;
	top: 586.689px;
	position: absolute;
	overflow: visible;
	width: 776px;
	height: 165.0701141357422px;
	line-height: 28.80000114440918px;
	margin-top: -2.40000057220459px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Grupo_82 {
	position: absolute;
	width: 759.308px;
	height: 126.885px;
	left: 118.255px;
	top: 415.315px;
	overflow: visible;
}
#Grupo_81 {
	position: absolute;
	width: 759.308px;
	height: 126.885px;
	left: 0px;
	top: 0px;
	overflow: visible;
}


#BrandBook__Social_Media__2022_ {
	left: 114px;
	top: 430.922px;
	position: absolute;
	overflow: visible;
	width: 353.8px;
	height: 46.10954284667969px;
	line-height: 19.200000762939453px;
	margin-top: -1.6000003814697266px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Rectngulo_7 {
	position: absolute;
	width: 370px;
	height: 379px;
	left: 1168px;
	top: 360px;
	overflow: visible;
}
#Rectngulo_8 {
	position: absolute;
	width: 1008px;
	height: 1386px;
	left: 442px;
	top: 940px;
	overflow: visible;
}
#Rectngulo_9 {
	position: absolute;
	width: 1008px;
	height: 1386px;
	left: 442px;
	top: 2208px;
	overflow: visible;
}
#Rectngulo_10 {
	position: absolute;
	width: 1159px;
	height: 1594px;
	left: 352px;
	top: 3411px;
	overflow: visible;
}

#Rectngulo_12 {
	position: absolute;
	width: 142px;
	height: 205.44px;
	left: 103px;
	top: 44px;
	overflow: visible;
	transition: all 0.30000001192092896s ease-out;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: home.html;
	cursor: pointer;
}

#alejog{
	left: -10px;
	top: -4660.346px;
	position: absolute;
	overflow: visible;
	line-height: 19.200000762939453px;
	margin-top: -1.6000003814697266px;
	
}

.flotante{
	
	display:none;
	padding:20px;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	left:90px;
}
	

#laup{
	
	left: 150.46px;
	top: 5140.957px;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3px;
}


